/* section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
} */

.logoimg {
    justify-self: flex-start;
    object-fit: cover;
  width: 100%;
  max-height: 80%;
}

.logoslogan {
    justify-self: flex-start;
}

.imgventa {
    object-fit: cover;
  width: 100%;
  max-height: 100%;
}




