* {
  margin: 0px;
}

header {
    height: 55px;
    border-style: solid;
    border-color:white white lightskyblue white;
    position: static;
}

header img {
  display: inline;
  margin-left: 25px;
}

header h1 {
  display: inline-block;
  margin-top: 5px;
}

header nav {
    /* display: inline-block; */
    float: right;
    margin-top: 20px;
    
}

header nav ul li{
    display: inline;
}