$ancho:600px;
$alto:100px;

.caja {
  width: $ancho;
  height: $alto;
  background-color: orange;
  border: 1px solid red;
  margin: 10px;
  /* display: inline; */
}

@media screen and (max-width: 600px) {
  .caja {
    width: $ancho/3;
    background-color: blue;
  }
}
