* {
    border: 0px;
    padding: 5px;
}

header{
    background-color: palevioletred;
}

main {
    background-color: green;
    display: flex;
    justify-content: center;
    height: 600px;
    
}

.box{
    height: 50px;
    width: 50px;
    //background-color: hotpink;
    display: flex;
}

.contenedor {
    background-color: coral;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;


}

.indice {
    background-color: red;
    flex-basis: 250px;
    height: auto;
}

.noticias {
    background-color: blue;
    flex-basis: 100%;
    height: auto;
}

footer {
    background-color: grey;
    blex-basis: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}