* {
    border: 0px;
    padding: 5px;
}

header{
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    text-align: center;
}

main {
    background-color: green;
    display: flex;
    justify-content: center;
    height: 600px;
    
}

.box{
    height: 50px;
    width: 50px;
    //background-color: hotpink;
    display: flex;
}

.contenedor {
    background-color: coral;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.indice {
    //padding-left: 20px;
    background-color: red;
    flex-basis: 250px;
    height: auto;
}

.noticias {
    background-color: blue;
    flex-basis: 100%;
    height: auto;
}

footer {
    background-color: grey;
    flex-basis: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navclass {
    //background-color: yellow;
    display: flex;
    flex-direction: column;

}
button {
    border: 2px solid white ;
    border-radius: 8px;
    background-color: pink;
    margin: 4px;
}
#inf {
    text-decoration: none;
    color: coral;
}


@media (max-width: 800px) {
    .contenedor {
        flex-direction: column;
    }
    .box {
        flex-basis: 100%;
        width: auto;
    }
    .indice{
        padding-left: 20px;
        flex-basis: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        
    }
    .navclass {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;;
    }
    

}
