.caja {
  width: 600px;
  height: 100px;
  background-color: orange;
  border: 1px solid red;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .caja {
    width: 300px;
    background-color: blue;
  }
}
